.cart-page {
  .product-img-col {
    height: 8rem;

    img {
      width: 100%;
    }
  }

  .product-row {
    margin: 0;
    // white-space: nowrap;
  }

  .product-count {
    margin: 0.25rem;
    float: right;
  }

  .product-detail-col {
    float: right;
  }

  .product-name {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
